<div class="top-contents">
  <div class="main-image"></div>
  <h1 class="main-message">お店探しも、決済も。</h1>
</div>

<div class="main-contents">
  <h2 class="contents-title">新着メニュー</h2>
  <div class="contents-bar">
    <%# menu-boxは後で10個くらいに改良する %>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">料理名</h3>
      <p class="contents-price">金額</p>
    </div>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">料理名</h3>
      <p class="contents-price">金額</p>
    </div>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">料理名</h3>
      <p class="contents-price">金額</p>
    </div>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">料理名</h3>
      <p class="contents-price">金額</p>
    </div>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">料理名</h3>
      <p class="contents-price">金額</p>
    </div>
  </div>
</div>

<div class="main-contents">
  <h2 class="contents-title">新規登録店舗</h2>
  <div class="contents-bar">
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">店舗名</h3>
      <p class="contents-price">カテゴリー</p>
    </div>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">店舗名</h3>
      <p class="contents-price">カテゴリー</p>
    </div>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">店舗名</h3>
      <p class="contents-price">カテゴリー</p>
    </div>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">店舗名</h3>
      <p class="contents-price">カテゴリー</p>
    </div>
    <div class="contents-box">
      <div class="image-box">
        <%= image_tag "test.jpeg", class: "contents-image" %>
      </div>
      <h3 class="contents-title">店舗名</h3>
      <p class="contents-price">カテゴリー</p>
    </div>
  </div>
</div>