<%= form_with model: @menu, class: "form", local: true do |f| %>

<%= render "layouts/error_messages.html.erb", model: f.object %>

<table>
  <tr class="field">
    <th>
      <%= f.label :name, "メニュー名", class: "form-label" %><br />
    </th>
    <td>
      <%= f.text_field :name, autofocus: true, class: "form-input", placeholder: "例)カツ丼" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :price, "価格（税込）", class: "form-label" %><br />
    </th>
    <td>
      <%= f.text_field :price, class: "form-input", placeholder: "例）1500円の場合は、「1500」と入力" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :explain, "メニューの説明", class: "form-label" %><br />
    </th>
    <td>
      <%= f.text_area :explain, placeholder: "例）地元産の食材にこだわっています...etc", class: "form-input" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :image, "料理写真", class: "form-label" %><br />
    </th>
    <td>
      <%= f.file_field :image %>
    </td>
  </tr>
</table>

<div class="actions">
  <%= f.submit "登録する", class: "button menu" %>
</div>

<% end %>