<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path, method: :post, local: true do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
  <%= f.label :shop_name %><br />
  <%= f.text_field :shop_name, autofocus: true, autocomplete: "name" %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autocomplete: "email" %>
</div>

<div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
</div>

<div class="field">
  <%= f.label :category_id %><br />
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: "category-select"}) %>
</div>

<div class="field">
  <%= f.label :prefecture_id %><br />
  <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class: "prefecture-select"}) %>
</div>

<div class="field">
  <%= f.label :address %><br />
  <%= f.text_field :address, autocomplete: "address-level2", placeholder: "市町村以下の住所を入力" %>
</div>

<div class="field">
  <%= f.label :business_hours %><br />
  <%= f.text_field :business_hours, placeholder: "例）午前10時〜午後６時" %>
</div>

<div class="field">
  <%= f.label :holiday %><br />
  <%= f.text_field :holiday, placeholder: "例）毎週水曜" %>
</div>

<div class="field">
  <%= f.label :phone_number %><br />
  <%= f.text_field :phone_number, placeholder: "ハイフン(-)を入れて入力" %>
</div>

<div class="actions">
  <%= f.submit "登録する" %>
</div>
<% end %>

<%= render "devise/shared/links" %>