<h2 class="main-title">店舗詳細</h2>
<div class="model-show">
  <div class="main-image">
    <%= image_tag @user.image, class: "pic" %>
  </div>
  <div class="main-info">
    <div class="info-box">
      <div class="icon">
        <i class="fas fa-store fa-lg"></i>
      </div>
      <div class="info">
        <h4>店舗名</h4>
        <p><%= @user.shop_name %></p>
      </div>
    </div>
    <div class="info-box">
      <div class="icon">
        <i class="fas fa-utensils fa-lg"></i>
      </div>
      <div class="info">
        <h4>カテゴリー</h4>
        <p><%= @user.category.name %></p>
      </div>
    </div>
    <div class="info-box">
      <div class="icon">
        <i class="fas fa-map-marker-alt fa-lg"></i>
      </div>
      <div class="info">
        <h4>住所</h4>
        <p id="address"><%= @user.prefecture.name %><%= @user.address %></p>
      </div>
    </div>
    <div class="info-box">
      <div class="icon">
        <i class="fas fa-door-open fa-lg"></i>
      </div>
      <div class="info">
        <h4>営業時間</h4>
        <p><%= @user.business_hours %></p>
      </div>
    </div>
    <div class="info-box">
      <div class="icon">
        <i class="fas fa-door-closed fa-lg"></i>
      </div>
      <div class="info">
        <h4>定休日</h4>
        <p><%= @user.holiday %></p>
      </div>
    </div>
    <div class="info-box">
      <div class="icon">
        <i class="fas fa-phone fa-lg"></i>
      </div>
      <div class="info">
        <h4>電話番号</h4>
        <p><%= @user.phone_number %></p>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.id == @user.id %>
<div class="button-area">
  <div class="edit-area">
    <%= link_to "店舗情報を編集する", edit_user_registration_path, class: "button" %>
  </div>
</div>
<% end %>

<%# 店舗の住所をもとにgoogle map の表示 %>
<h2 class="main-title">店舗の場所</h2>
<div id="map" class="map"></div>

<h2 class="main-title">提供中のメニュー</h2>
<div class="main-contents user-menus">
  <div class="contents-bar">
    <%# ここの@menusは、コントローラーでユーザーに紐づいて取得している %>
    <%= render partial: "user_menus", collection: @menus, as: "menu" %>
  </div>
</div>