<div class="header-container">
  <div class="header-left">
    <%= link_to "Take_Out_App", root_path, class: "header-logo" %>
  </div>
  <div class="header-right">
    <p class="hamburger-icon" id="hamburger-icon"><i class="fas fa-bars"></i></p>
    <ul class="header-menu" id="header-menu">
      <% if user_signed_in? %>
      <li class="header-list">
        <p><i class="far fa-window-close" id="close"></i></p>
      </li>
      <li class="header-list">
        <%= link_to "マイページ", user_path(current_user.id), class: "header-link" %>
      </li>
      <li class="header-list">
        <%= link_to "メニュー投稿", new_menu_path, class: "header-link" %>
      </li>
      <li class="header-list">
        <%= link_to "登録店舗一覧", users_path, class: "header-link" %>
      </li>
      <li class="header-list last">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-link"%>
      </li>
      <% else %>
      <li class="header-list">
        <p><i class="far fa-window-close" id="close"></i></p>
      </li>
      <li class="header-list">
        <%= link_to "新規登録", new_user_registration_path, class: "header-link"%>
      </li>
      <li class="header-list">
        <%= link_to "ログイン", new_user_session_path, class: "header-link"%>
      </li>
      <li class="header-list last">
        <%= link_to "登録店舗一覧", users_path, class: "header-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>