<!DOCTYPE html>
<html>

<head>
  <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
  <title>TakeOutApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# payjpのライブラリ読み込み %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%# font awesomeのCDN読み込み %>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
  <header>
    <%= render partial: "layouts/header" %>
  </header>

  <%# フラッシュメッセージの表示 %>
  <% flash.each do |key, value| %>
  <p class="alert alert-<%= key %>">
    <%= value %>
  </p>
  <% end %>

  <%= yield %>

  <footer>
    <%= render partial: "layouts/footer" %>
  </footer>
</body>

</html>

</html>