<h2 class="main-title">店舗情報編集</h2>

<%= form_with model: @user, url: user_registration_path, method: :patch, class: "form", local: true do |f| %>

<%= render "devise/shared/error_messages", resource: @user %>

<table>
  <tr class="field">
    <th>
      <%= f.label :shop_name, "店舗名", class: "form-label" %><br />
    </th>
    <td>
      <%= f.text_field :shop_name, autofocus: true, class: "form-input", autocomplete: "name", placeholder: "お店の名前" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :email, "メールアドレス", class: "form-label" %><br />
    </th>
    <td>
      <%= f.email_field :email, class: "form-input", autocomplete: "email", placeholder: "例)sample@sample.com" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :category_id, "カテゴリー", class: "form-label" %><br />
    </th>
    <td>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: "form-select"}) %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :prefecture_id, "都道府県", class: "form-label" %><br />
    </th>
    <td>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class: "form-select"}) %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :address, "住所", class: "form-label" %><br />
    </th>
    <td>
      <%= f.text_field :address, autocomplete: "address-level2", class: "form-input", placeholder: "市町村以下の住所を入力" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :business_hours, "営業時間", class: "form-label" %><br />
    </th>
    <td>
      <%= f.text_field :business_hours, class: "form-input", placeholder: "例）午前10時〜午後６時" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :holiday, "定休日", class: "form-label" %><br />
    </th>
    <td>
      <%= f.text_field :holiday, class: "form-input", placeholder: "例）毎週水曜" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :phone_number, "電話番号", class: "form-label" %><br />
    </th>
    <td>
      <%= f.text_field :phone_number, class: "form-input", placeholder: "ハイフン(-)あり" %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :image, "店舗写真", class: "form-label" %><br />
    </th>
    <td>
      <%= f.file_field :image %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :password, "パスワード（新）", class: "form-label" %><br />
    </th>
    <td>
      <%= f.password_field :password, class: "form-input", autocomplete: "new-password", placeholder: '変更しない場合は空欄' %>
    </td>
  </tr>
  <tr class="field">
    <th>
      <%= f.label :password_confirmation, "パスワード（確認）", class: "form-label" %><br />
    </th>
    <td>
      <%= f.password_field :password_confirmation, class: "form-input", autocomplete: "new-password", placeholder: '変更しない場合は空欄' %>
    </td>
  </tr>
</table>

<div class="actions">
  <%= f.submit "更新する", class: "button edit" %>
</div>

<% end %>